#header{
	display:flex;
	flex-direction:row;
}
#p1{
	margin-right:2%;
}
#p2{
	border:2px solid black;
	width:5%;
}

#main{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}

.boxes{
	padding:10px;
	border:2px solid black;
}