form{
	display:flex;
	flex-direction:column;
}

form>div{
	display:flex;
	flex-direction:row;
	margin:2% 0%;
}

#nameLabel{
	margin-top:10px;
}

#nameArea{
	width:10%;
	margin-left:2%;
}

#createButton{
	width:5%;
}